@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start">
    <h1 class="display-1 text-primary">Welcome to group 7 Git Practice</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core is great!</a>.</p>
</div>
