@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start">
    <h1 class="display-1 text-primary text-uppercase">Ett nytt välkommenmeddelande</h1>
    <h1 class="display-1">Welcome to group 7 Git Practice add en till </h1>
    <h1 class="display-1">Ett nytt välkommenmeddelande</h1>
    <h1 class="display-1"> nytt </h1>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core is great!</a>.</p>
    <p>Hello World!</p>
    <p>123</p>
</div>
s